.global-peace-index-maps-side-by-side {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
}

.legend-item {
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
}

.legend-item-text {
  margin-left: 30px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 17px;
}

