.global-peace-index-map {
  display: flex;
  width: 70%;
}

#map {
  flex-grow: 1;
  height:420px;
}

#map-legend {
  width: 15%;
}

.trend-by-region {
  width: 1230px;
  height: 300px;
}

div.tooltip-map {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 60px;
  padding-top: 10px;
  font: 14px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

div.tooltip-barchart {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 40px;
  font: 14px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

.positive {
  fill: rgb(14,63,153);
  stroke-opacity: 1;
  stroke-width:1;
  stroke:black;
}

.negative {
  fill: rgb(196,58,31);
  stroke-opacity: 1;
  stroke-width:1;
  stroke:black;
}

.axis-x  {
  font-family: sans-serif;
}

.axis-y {
  font-family: sans-serif;
  font-size: 12px;
}

#less-peaceful {
  color: rgb(196,58,31);
}

#more-peaceful {
  color: rgb(14,63,153);
}

.zoom rect {
  fill: black;
  opacity: 0.2;
  rx: 5;  /* Rounded corners */
  ry: 5;
}

.zoom text {
  fill: black;
  font-size: 18px;
  text-anchor: middle;
}

.zoom:hover rect,
.zoom:hover text {
  fill: blue;
}

